@tailwind base;
@tailwind components;
@tailwind utilities;


.contenedor {
    width: 90%;
    max-width: 100vh;
    height: 100%;
    margin: auto;
    line-height: 30px;
    text-align: center;
    background: #637373;
    border: solid #637373 15px;

}

.contenedor>div {
    display: block;
    /* para que abarque todo el espacio disponible */
    padding: 0px;
    color: #181717;
    background: #2f89fc;
    box-shadow: 2px 2px 10 rgba(0, 0, 0, 25);
    
}

.contenedor {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.contenedor .uno {
    background: #ff9a76;
    grid-row-start: 1;
    grid-row-end: 8;

}

.contenedor .dos {
    background: #ffeadb;
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;

}

.contenedor .tres {
    background: #679b9b;
    grid-row-start: 1;
    grid-row-end: 9;

}

.contenedor .cuatro {
    background: #679b9b;
    grid-row-start: 8;
    grid-row-end: 17;
    padding: 5px;
    font-size: 12px;
}

.contenedor .cinco {
    background: rgb(243, 243, 237);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 13;
    padding: 25px;
}

.contenedor .seis {
    background: #ff9a76;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 17;


}

.contenedor .siete {
    background: #ffeadb;
    grid-row-start: 9;
    grid-row-end: 17;
}

.titulo {
    font-size: 20px;
    padding: 15px;
    font-weight: 700;
}

.descripcion {
    text-align: justify;
    margin: 15px;
    font-weight: 600;
    line-height: 40px;

}

.tituloGrande {
    font-size: 23px;
    margin-top: 40px;
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 40px;
}

.datosContacto {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}

img {
    height: 30px;
}

.enlaces {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.skills {
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

.logosEnlaces {
    margin-top: 25px;
    margin-left: 85px;
}

.logoEmail {
    margin-left: 100px;
    margin-top: 100px;
}

.foto {
    height: 160px;


}

.botonesYfoto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.email {
    font-size: 12px;
}

@media (max-width: 600px) {
    .contenedor {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(26, 1fr);
        overflow-y: auto;
    }

    .contenedor .uno {
        background: #ff9a76;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .contenedor .dos {
        background: #ffeadb;
        grid-row-start: 5;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
    }

    .contenedor .tres {
        background: #679b9b;
        grid-row-start: 9;
        grid-row-end: 12;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .contenedor .cuatro {
        background: #679b9b;
        grid-row-start: 13;
        grid-row-end: 16;
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 5px;
        font-size: 12px;
    }

    .contenedor .cinco {
        background: rgb(243, 243, 237);
        grid-row-start: 17;
        grid-row-end: 20;
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 25px;
    }

    .contenedor .seis {
        background: #ff9a76;
        grid-row-start: 21;
        grid-row-end: 24;
        grid-column-start: 1;
        grid-column-end: 4;


    }

    .contenedor .siete {
        background: #ffeadb;
        grid-row-start: 25;
        grid-row-end: 26;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}