@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
    padding: 20px;

}
.contenedor {
    width: 90%;
    max-width: 1000px;
    height: 95vh;
    /* border: 1px solid #000; */
    margin: auto;
    /* font-size: 15px; */
    line-height: 30px;
    text-align: center;
    /* padding-top: 20px; */
    background: rgb(36, 36, 36);
    border: solid black 4px;
    
}

.contenedor > div {
    display: block;      /* para que abarque todo el espacio disponible */
    padding: 0px;
    color: #181717;
    background: #2f89fc;
    box-shadow: 2px 2px 10 rgba(0,0,0,25);
    /* border-radius: 9px; */
}

.contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(16,1fr);
}

.contenedor .uno {
    background: rgb(243, 243, 237);
    grid-row-start: 1;
    grid-row-end: 8;
    
}
.contenedor .dos {
    background: rgb(243, 243, 237);
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url('./assets/imagenes/fotoCV6.png');
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;

}
.contenedor .tres {
    background: rgb(243, 243, 237);
    grid-row-start: 1;
    grid-row-end: 9;

}
.contenedor .cuatro {
    background: rgb(243, 243, 237);
    grid-row-start: 8;
    grid-row-end: 17;
    padding: 5px;
}

.contenedor .cinco {
    background: rgb(243, 243, 237);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 13;
    padding: 25px;
}

.contenedor .seis {
    background: rgb(243, 243, 237);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 17;
}

.contenedor .siete {
    background: rgb(243, 243, 237);
    grid-row-start: 9;
    grid-row-end: 17;
}

.titulo {
    font-size: 20px;
    padding: 15px;
    font-weight: 700;
}

.descripcion {
    text-align: justify;
    margin: 15px;
    font-weight: 600;
}

.tituloGrande {
    font-size: 23px;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 700;
}

.datosContacto {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}

img {
    height: 30px;
}

.enlaces {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.skills {
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

.logosEnlaces {
    margin-top: 25px;
    margin-left: 85px;
}

.logoEmail {
    margin-left: 100px;
    margin-top: 100px;
}